<div class="container">
    <div class="heading">Sign Up for a new account</div>
    <form class="form" action="">
      <div class="input-field">
        <input
          required=""
          autocomplete="off"
          type="text"
          name="full-name"
          id="full-name"
        />
        <label for="full-name">Full Name</label>
      </div>
      <div class="input-field">
        <input
          required=""
          autocomplete="off"
          type="email"
          name="email"
          id="email"
        />
        <label for="email">Email</label>
      </div>
      <div class="input-field">
        <input
          required=""
          autocomplete="off"
          type="password"
          name="password"
          id="password"
        />
        <label for="password">Password</label>
      </div>
      <div class="input-field">
        <input
          required=""
          autocomplete="off"
          type="password"
          name="confirm-password"
          id="confirm-password"
        />
        <label for="confirm-password">Confirm Password</label>
      </div>
  
      <div class="btn-container">
        <button class="btn">Sign Up</button>
        <div class="acc-text">
          Already have an account?
         <a  routerLink="/login"> Sign In</a>
        </div>
      </div>
    </form>
  </div>
  